@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #2f363e;
    min-height: 100vh;
}

.contain{
    position: relative;
    /* min-height: 450px; */
    width: 400px;
    background: #2f363e;
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
}

.clock{
    position: relative;
    background: #2f363e;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.clock::before{
    content: "";
    position: absolute;
    background: #2f363e;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 100;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: white;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock span b{
    font-size: 2em;
    opacity: .25;
    font-weight: 600;
    transform: rotate(calc(-30deg * var(--i)));
}

.clock .circle{
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.clock .circle2{
    width: 220px;
    height: 220px;
}

.clock .circle3{
    width: 180px;
    height: 180px;
}

.clock .circle i{
    position: absolute;
    width: 6px;
    background: var(--clr);
    height: 50%;
    opacity: 0.75;
}

.circle:nth-child(1) i{
    width: 2px;
    z-index: 30;
    box-shadow: 0 0 20px var(--clr),
    0 0 100px var(--clr);
}

.circle:nth-child(2) i{
    width: 5px;
    z-index: 20;
    box-shadow: 0 0 20px var(--clr),
    0 0 80px var(--clr);
}

.circle:nth-child(3) i{
    width: 8px;
    z-index: 10;
    box-shadow: 0 0 20px var(--clr),
    0 0 40px var(--clr);
}

section{
    height: 90vh;
}

section .contain .contain2{
    gap: 10px;
    color: grey;
}

section .contain .contain2 span{
    background-color: black;
    padding: 0px 4px;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-shadow: 0 0 3px grey;
    border-radius: 4px;
}